MONITORING_BIND_ADDRESS=127.0.0.1

PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=15d

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

PG_DB_EXPORTER_USERNAME=exporter
PG_DB_EXPORTER_PASSWORD=change-me

COMMERCE_DB_EXPORTER_USERNAME=exporter
COMMERCE_DB_EXPORTER_PASSWORD=change-me
